<body class="body_admin"> 
    <div class="big-container">
        <div class="container-input2">           
            <form action="/administrador1" method="GET" class="container-sm"> 
                <h1>ADMIN</h1> 
                <div class="outerLogin">
                    <input type="submit" class="button_slide3" value="Agregar una pregunta" >
                </div>
                
            </form>
            <form action="/administrador2" method="GET"  class="container-sm"> 
                <div class="outerLogin">
                    <input type="submit"  class="button_slide2" value="eliminar una pregunta">
                </div>
            <div class="outerLogin">
                <input type="button" onclick="irGame()" class="button_slide10" value="Ir a el juego" >
            </div>
            </form>
        </div>
    </div>
</body>
    

       
       
