<body class="body_admin"> 
    <div class="big-container">
        <div class="container-input-eliminar">  
            <div class="login-form">
                    <h1>ELIMINE SU PREGUNTA POR ID</h1>
            </div>     
                        <form action="/eliminar" method="PUT" id="agregarPregunta" class="container-sm"> 
                    <form action="/eliminarpregunta" method="PUT" id="eliminarPregunta" class="container-sm"> 
                    <div class="form__group field">
                        <label for="id" class="form__label"></label>
                        <input type="int" class="form__field" id="id" name="id" placeholder="Ingrese ID de pregunta">
                    </div>
                    <div class="outerLogin">
                        <input type="button" class="button_slide slide_right" onclick="admin2()" value="elimine la palabra">
                    </div>
                    </form>
                </form>
        </div>
    </div>
</body>
