<body class="body_login">
    <div class="big-container">
        <div class="container-input">
            <form action="/login" method="POST" id="form1" class="container-sm"> 
                <div class="login-form">
                    <h1>PreguntadODS</h1>
                </div>
                <div class="content">
                    <div class="form__group field">
                        <label for="usuario" class="form__label"></label>
                        <input type="text" class="form__field" id="usuarioId" name="usuario" placeholder="Ingrese su nombre de usuario">
                    </div>
                    <div class="form__group field">
                        <label for="passwordId" class="form__label"></label>
                        <input type="password" class="form__field" id="passwordId" name="contraseña" placeholder="Ingrese su contraseña">
                    </div>
                </div>
            </form>
            <div class="outerLogin">
                <input type="button" class="button_slide" onclick="login2()" value="Ingresar">
                <form action="/Registrar" method="GET">
                        <input type="submit" class="button_slide" value="Registrate">
                </form>
            </div>
        </div>
    </div>
</body>
